<!DOCTYPE HTML>
<html>
  <head>
    <title>
      DOMEKIT
    </title>
    <script src='demo.js?<%= query_string %>'></script>
  <style>
    .goog-slider-horizontal {
      background-color: blue;
      position: relative;
      overflow: hidden;
      width: 10em;
      height: 1em;
    }

    .goog-slider-thumb {
      position: absolute;
      background-color: black;
      overflow: hidden;
    }

    .goog-slider-horizontal .goog-slider-thumb {
      top: 0;
      width: 20px;
      height: 100px;
    }

    #s-h {
      margin-bottom: 2em;
    }
  </style>

  </head>
  <body>
    <div id='canvas-title'>
      DOMEKIT DRAWING SURFACE ENVISIONED
    </div>
    <div id='canvas-goes-here'>
    </div>
    <div id="dome-sphere-controls">
      <div id="choose-a-dome" style="background-color: #aaa; width: 3em; height: 3em;">Dome</div>
      <div id="choose-a-sphere" style="background-color: #aaa; width: 3em; height: 3em;">Sphere</div>
    </div>
    Rotate:
    <div id="rotation-slider-goes-here"></div>
    Scale:
    <div id="scale-slider-goes-here"></div>
    <script>
      window.onload = function() {
        var demo = new domekit.Demo();
      };
    </script>
  </body>
</html>
